<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_micropost_path(@user) %>">
    <strong id="following" class="stat">
      <%= current_user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= follower_user_micropost_path(@user) %>">
    <strong id="follower_user" class="stat">
      <%= current_user.follower_user.count %>
    </strong>
    follower
  </a>
</div>