<% unless current_user?(@user) %>
<div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'microposts/unfollow' %>
  <% else %>
    <%= render 'microposts/follow' %>
  <% end %>
</div>

  